node_modules/
dist/


backend/node_modules/
backend/uploads/*
!backend/uploads/.gitkeep


*.db
*.db-journal
backend/prisma/*.db
backend/prisma/*.db-journal
backend/prisma/migrations/


frontend/node_modules/
frontend/build/


.env
.env.local
.DS_Store